/* место для вашего кода */
main {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 91px 50px 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__logo {
  grid-column: 2;
  justify-self: center;
}
.header__logo-image {
  height: auto;
  width: 137px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address__header {
  max-width: 240px;
  justify-self: end;
}

.address a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  margin-right: -30px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 20px;
  margin-right: -30px;
}

/* .letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
} */

.cover__description {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.0035em;
  cursor: pointer;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 180px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  padding: 48px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .card__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
} */

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 25px;
  margin-bottom: 30px;
}

.card__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  position: relative;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  padding-top: 34px;
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper__img {
  width: 148px;
  height: auto;
}

.about__column {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 135px;
}

.about__title {
  text-transform: uppercase;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 100px;
}

.about__text {
  margin: 0 0 24px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0;
}

.footer {
  margin-top: 157px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 50px 50px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.address__footer {
  max-width: 265px;
  justify-self: start;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  /* line-height: 1.35; */
}

.footer__menu-link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
